name: GitHub Actions
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - run: echo "该作业由${{github.event_name}}事件自动触发"
      - run: echo "此作业现在正在GitHub托管的${{runner.os}}服务器上运行"
      - run: echo "分支的名称是${{github.ref}}，存储库是${{github.repository}}"
      - name: 签出存储库代码
        uses: actions/checkout@v2
      - run: echo "${{github.repository}}存储库已克隆到运行程序"
      - run: echo "工作流现在可以在运行程序上测试代码了"
      - name: 列出存储库中的文件
        run: |
          ls ${{ github.workspace }}
      - name: 列出Release发布的文件
        run: |
          ls NugetPublish/Release
      - name: 安装nuget 
        uses: nuget/setup-nuget@v1
        with:        
            nuget-version: '5.x'
      - name: 打包nuget package
        run: |
             nuget pack NugetPublish/Release/Nancy.FixQueryDictionary.nuspec -OutputDirectory NugetPublish/Release/
      - name: 添加github源
        run: |
            dotnet nuget add source --name github "https://nuget.pkg.github.com/OWNER/index.json"
      - name: 发布到github
        run: |
            dotnet nuget push NugetPublish/Release/*.nupkg  --api-key ${{ secrets.GITHUB_TOKEN }} --source "github" --skip-duplicate
      - name: 发布到NuGet
        uses: brandedoutcast/publish-nuget@v2.5.5
        with:
          # 打包文件路径
          PROJECT_FILE_PATH: NugetPublish/Release/Nancy.FixQueryDictionary.nuspec
          # nuget package 名称
          PACKAGE_NAME: Nancy.FixQueryDictionary
          # 匹配nuget package版本号正则表达式
          VERSION_REGEX: ^\s*<version>(.*)<\/version>\s*$
          # nuget package 发布apikey
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}
      - run: echo "发布nuget package到Nuget已完成"
      - run: echo "此作业的状态为${{job.status}}"
